html {
    font-family: YuGothic, '游ゴシック', sans-serif;
    word-wrap: break-word; /*単語を途中で改行しない*/
}

body {
    margin: auto;
    width: 100%;
    padding: 0 0 100px;
    
    line-height: 2rem;
    color: rgb(55, 55, 55)
}

article {
    width: 80%;
    margin: 0 auto;
    padding: auto;
    padding-right: 50px;
    font-size: 17px;
}

h1 {
    font-size: 3rem;
    line-height: 3rem;
    padding: 5px 0px;
}

h2 {
    font-size: 1.5rem;
    padding: 5px 0px;
    margin: 1.7em 0px 10px;
}

p {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

li {
    margin: 0;
}

.box {
    padding: 0.8rem;
}

a {
    color: rgb(40, 133, 191);
    text-decoration: none;
}

footer {
    color: rgb(147, 147, 147)
}
